/*Este codigo es para eliminar cualquier estilo previo*/

* {
  margin: 0;
  padding: 0;
}


menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.menu-izquierda {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: ROW;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 10px;
    

}

.menu-izquierda img {
    width: 230px;

}

.menu-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

}

.menu-derecha {
    /* background:coral; */
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.enlaces-menu-derecha {
    width: 40%;
    text-decoration: none;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #273272;
    padding: 0px 15px 0px 15px;
}

.enlaces-menu-derecha:hover {
    transform: scale(1.05);
    color: darkred
}


.titulo {
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 30px;
}

.titulo p {
    width: 60%;
    text-align: center;
    color: #292929;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    font-family: "Roboto", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding-top: 30px;
}

.main-img {
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    
}

.main-img img {
    width: 1140px;
}

.main-accordion-container {
  width: 100%;
  border-bottom: 4px solid black;

}

.accordion-item {
  background-color: bisque;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  border-top: 2px solid black;
}

.accordion-item:hover {
  transform: scale(1.05);
  border: 3px solid black;
}

.accordion-title {
  width: 100%;
  height: auto;
  background-color: rgb(215, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}

.accordion-desc {
  width: 100%;
  border-top: 1px solid black;
  display: none
}

.accordion-title .tab-active {
  font-size: 30px;
  pointer-events: visible;
}

.tab-active .accordion-desc {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
footer{
  background: black;
  color: white;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.footer-izquierda{
  /* background: #ebdfdf; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.footer-derecha{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right:30px;
  padding-bottom: 25px;
}
.footer-derecha p{
  width: 25%;
  padding-top: 5px;
  text-align: justify;
}

/*TRABAJAMOS RESPONSIVE*/

@media (max-width: 1025px) {
    .menu-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .menu-derecha {
        display: none;
    }

    .hamburger-icon {
        width: 55px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 15px;
        margin-top: 15px;
        margin-left: 20px;
        border: 2px solid black;
        border-radius: 5px;

    }

    span {
        width: 50px;
        height: 5px;
        background-color: black;
        display: block;
        border-radius: 3px;
    }

    .menu-open .menu-derecha{
        z-index: -2;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:aliceblue;
        border: 2px solid black;
        border-radius: 15px;
        font-size: 50px;    
        padding: 10px 20px;
    }

    .enlaces-menu-derecha{
        width: 100%;
        text-align: center;
        padding: 5px 0 5px 0
    }

}


body {
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
}

.flex-container {
  /* Cambia position a relative o elimínalo si no es necesario */
  position: relative; 
  height: auto; /* Deja que la altura sea automática */
  min-height: 100vh; /* Asegúrate de que el contenedor ocupe al menos la altura completa de la ventana */
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: row; /* Asegura que el contenido se apile en columna */
}
@media screen and (max-width: 1025px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-title {
  color: #f1f1f1;
  position: relative;
  font-size: 6vw;
  margin: auto;
  text-align: center;
  transform: rotate(90deg);
  top: 15%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (max-width: 1025px) {
  .flex-title {
    transform: rotate(0deg) !important;
  }
}

.flex-about {
  opacity: 0;
  color: #f1f1f1;
  position: relative;
  width: 70%;
  font-size: 2vw;
  padding: 5%;
  top: 20%;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  line-height: 1.3;
  margin: auto;
  text-align: left;
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (max-width: 1025px) {
  .flex-about {
    padding: 0%;
    border: 0px solid #f1f1f1;
  }
}

.flex-slide {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (max-width: 1025px) {
  .flex-slide {
    overflow: auto;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1025px) {
  .flex-slide p {
    font-size: 2em;
  }
}

@media screen and (max-width: 1025px) {
  .flex-slide ul li {
    font-size: 2em;
  }
}

.flex-slide:hover {
  -webkit-flex-grow: 3;
  flex-grow: 3;
}

.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://scontent.fsyq2-1.fna.fbcdn.net/v/t39.30808-6/409116913_198552946658571_5353724973730886369_n.jpg?stp=dst-jpg_p526x296&_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=iscOIxmmEvEQ7kNvgErUNot&_nc_ht=scontent.fsyq2-1.fna&oh=00_AYDC0PhwF57FBCm44wficeaAGcnNvKshTRZNNOOQ0G0N_w&oe=66D191CB);
  background-size: cover;
  background-position: center ;
  background-attachment: fixed;
}
@media screen and (min-width: 1025px) {
  .home {
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
  }
}

@keyframes aboutFlexSlide {
  0% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  50% {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  100% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1025px) {
  .flex-title-home {
    transform: rotate(90deg);
    top: 15%;
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
  }
}

@keyframes homeFlextitle {
  0% {
    transform: rotate(90deg);
    top: 15%;
  }
  50% {
    transform: rotate(0deg);
    top: 15%;
  }
  100% {
    transform: rotate(90deg);
    top: 15%;
  }
}
.flex-about-home {
  opacity: 0;
}
@media screen and (min-width: 1025px) {
  .flex-about-home {
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
  }
}

@keyframes flexAboutHome {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://scontent.fsyq2-1.fna.fbcdn.net/v/t39.30808-6/362681027_23886872104259721_7093138714784240953_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=FmI2DGFh0XEQ7kNvgHLyGDx&_nc_ht=scontent.fsyq2-1.fna&oh=00_AYAzlKhjxTRpbfEHEELn1vuQ6Lt_GhyLw4tQDh7sAp4ELA&oe=66D1B7EE);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.contact-form {
  width: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-696098_1920.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://scontent.fsyq2-1.fna.fbcdn.net/v/t39.30808-6/417144073_216648904848975_7124893821142499223_n.jpg?stp=cp6_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=DG1jwo4m8boQ7kNvgHT_7Ld&_nc_ht=scontent.fsyq2-1.fna&oh=00_AYD9mCTcY4jFPUVTcSPsKUfg3ph9P1GslB377gvg0wZhdw&oe=66D1BE40);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}